.dark-mode {background-color: var(--darkColor);}
.dark-mode * {
	color: var(--lightColor);
	fill: var(--lightColor);
	-webkit-font-smoothing: antialiased;
}
.dark-mode .l-line {background: var(--lightColor);}

.About footer .l-line, .Contact footer .l-line {background-color: var(--lightColor) !important;}

.page-top {padding-top: 15rem;}
.page-top h1 {
	font-size: 3.6rem;
	margin-bottom: 3rem;
}

.l-right-img {
	width: calc( 100vw - var(--padding) );
	aspect-ratio: 2/1;
}

.l-full-img img.kv{
	width: 100vw;
	height: 100%;
	margin-left: calc( var(--padding) * -1);
}
.l-headings h1 {
	opacity: .5;
	margin-left: .8px;
}
.l-headings h2 {
	text-transform: capitalize;
	margin: 1.5rem 0 2rem;
	margin-left: -1.2px;
}

.l-line {
	width: calc(100vw - var(--padding));
	height: 1px;
	background-color: var(--darkColor);
	background-color: #aaa;
	fill: #aaa;
	opacity: 1;
}

.l-links {margin-top: 4rem;}
.l-links a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.1rem .15rem 1.8rem .5rem;
}

.l-banners {display: flex;flex-direction: column;}
.l-banners a {
	width: 100vw;
	height: 50vw;
	padding-top: 1.5rem;
	padding-left: var(--padding);
	padding-right: calc( var(--padding) * 1 );
	margin-left: calc( var(--padding) * -1 );
	position: relative;
	background-image: url('../../image/kv.webp');
	background-position: center;
	background-size: cover;
	margin-bottom: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.l-white * {
	color: var(--lightColor);
	fill: var(--lightColor);
	-webkit-font-smoothing: antialiased;
}



@media screen and (min-width: 720px) {
	
	.l-line {width: 100%;}
	.l-full-img img.kv{margin-left: calc( var(--padding-pc) * -1);}

	.l-banners a {
		width: 100%;
		height: 50vh;
		padding-left: var(--padding-pc);
		margin-left: calc( var(--padding-pc) * -1 );
		margin-left: 0;
	}

}















r



.l-word {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem 2rem;
}
.l-word .l-line {
	margin-left: -1rem;
    margin-bottom: 2.2rem;
}
.l-word .left {width: 75%;}
.l-word .right {
	display: flex;
    align-items: flex-end;
	margin-bottom: -0.5rem;
}
.l-word .date {margin-bottom: .8rem;}

@media screen and (min-width: 720px) {

	.l-section-head h2 {font-size: 1.6rem;}	
	.l-word .right {margin-bottom: 0;}
	
	.l-word .left h1 {
		width: fit-content;
		position: relative;
	}

	.l-word:hover {opacity: .65;}
	.l-word .left h1::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		display: block;
		width: 0;
		height: 1px;
		background-color: var(--backgroundColor);
		transition: 1s cubic-bezier(.6,0,0,.9);
	}
	.l-word:hover .left h1::after {
		width: 100%;
	}

}
